@model ExpenseTracker.Application.ViewModels.DetailedCategory.NewDetailedCategoryVm

@{
    ViewData["Title"] = "EditDetailedCategory";
}

<h1 style="margin-top:33px;">Edytuj szczegółową podkategorię</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="margin-top:7px;" >
        <form asp-action="EditDetailedCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="MainCategoryId" />
            </div>
            <div class="form-group" style="float:left; margin-right:8px;">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-outline-secondary" asp-action="Index">Cofnij</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
