@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>
    <a asp-controller="PlannedExpense" asp-action="Index" asp-route-monthOfYear="01.@DateTime.Today.Month.@DateTime.Today.Year">Przejdź do zaplanowanych wydatków</a>
</p>
