@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="margin-top:150px;" class="display-2">Expense Tracker</h1>
    <h3 class="text-muted">Zaplanuj swoje wydatki</h3>
</div>

